{% extends 'accounts/form_base.html' %}


{% block title %}Sign In{% endblock title %}

{% block card-title %}<h1>Sign In</h1>{% endblock card-title %}

{% block form %}
<p>If you have not created an account yet, then please <a href="{% url 'accounts:user-signup' %}">sign up</a> first.</p>
<form id="login-form" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_login">Username:</label>
    {{ form.login }}
  </div>
  <div class="form-group">
    <label for="id_password">Password:</label>
    {{ form.password }}
  </div>
  <div class="form-group">
    <label for="id_remember">Remember Me:</label>
    {{ form.remember }}
  </div>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>
{% endblock form %}

{% block card-footer %}
<input class="btn btn-danger btn-lg float-right" form="login-form" type="submit" value="Sign In" />
{% endblock card-footer %}
