{% extends 'vue_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div id="app" class="card mt-3 mx-5">
  <div class="card-header text-center"><h1>Work Orders</h1></div>
  <workorder-list v-bind:work-orders="workOrders"></workorder-list>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script>

Vue.component('workorder-list', {
  delimiters: ['[[', ']]'],
  props: {
    workOrders: Array,
  },
  template: `
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Deadline</th>
          <th scope="col">Workers</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="workOrder in workOrders">
          <th scope="row">[[ workOrder.title ]]</th>
          <td>[[ workOrder.description ]]</td>
          <td>[[ workOrder.deadline ]]</td>
          <td>
            <span v-for="worker in workOrder.workers">
              <button class="btn btn-outline-primary btn-sm mx-1">
                [[ worker.name ]]
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  `
})

var vm = new Vue({
  el: '#app',
  data() {
    return {
      workOrders: [],
    }
  },
  mounted() {
    this.loadWorkers();
    this.loadWorkOrders();
  },
  methods: {
    loadWorkers() {

    },
    loadWorkOrders() {
      axios({
      method: 'get',
      url: `${apiRootUrl}work-orders/`,
      header: {
        'Authorization': UserToken
        }
      })
      .then(response => {
        this.workOrders = response.data;
      });
    },
  }
})
</script>
{% endblock js %}
