{% extends 'vue_base.html' %}

{% block title %}Home{% endblock title %}

{% block css %}
<style>
/* modal CSS */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  background-color: #DC3545;
}

.modal-header h3 {
  margin-top: 0;
  color: #fff;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
{% endblock css %}

{% block content %}
<div id="app" class="card col-md-8 offset-md-2 mt-4 px-0">
  <div class="card-header text-center"><h1>Work Orders</h1></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 mb-3">
        <search-bar v-on:emitted-search-text="getSearchText($event)"></search-bar>
      </div>
      <div class="col-sm-6 mb-3">
        <button v-on:click="showWorkOrderModal=true" class="btn btn-outline-danger float-right">Add Work Order</button>
        <add-workorder-modal v-if="showWorkOrderModal" v-on:close="showWorkOrderModal=false"></add-workorder-modal>
      </div>
    </div>
    <workorder-list v-bind:work-orders="workOrders"></workorder-list>
  </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<script>
Vue.component('add-workorder-modal', {
  delimiters: ['[[', ']]'],
  data() {
    return {
      inputTitle: '',
      inputDescription: '',
      inputDeadline: null,
      titleError: '',
      descriptionError: '',
      deadlineError: '',
      submitDisabled: true,
    }
  },
  methods: {
    saveWorkOrder() {
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = 'X-CSRFToken';
      axios({
        method: 'post',
        url: `${apiRootUrl}work-orders/`,
        header: {
        'Authorization': UserToken,
        },
        data: {
          title: this.inputTitle,
          description: this.inputDescription,
          deadline: this.inputDeadline
        }
      }).then(() => {
        // reload workOrder list
        this.$parent.loadWorkOrders();
      }).catch((error) => {
        console.log(error);
      });
    },
    inputValidation() {
      let dateToday = new Date().toLocaleDateString();
      if (this.inputTitle==='' || 
          this.inputDescription==='' ||
          !Date.parse(this.inputDeadline) ||
          Date.parse(this.inputDeadline) < Date.parse(dateToday)) {
            this.submitDisabled = true;
      } else {
        this.submitDisabled = false;
      }
    },
  },
  watch: {
    inputTitle() {
      this.titleError = (this.inputTitle==='') ? 'Title is required.' : '';
    },
    inputDescription() {
      this.descriptionError = (this.inputDescription==='') ? 'Description is required.' : '';
    },
    inputDeadline() {
      let dateToday = new Date().toLocaleDateString();
      this.deadlineError = (!Date.parse(this.inputDeadline) || Date.parse(this.inputDeadline) < Date.parse(dateToday)) ? "Deadline can't be empty or in the past." : '';
    },
  },
  template: `
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              <h3>New Work Order</h3>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <form>
                <div class="form-group">
                  <label for="inputTitle">Title:</label>
                  <input v-model="inputTitle" v-on:input="inputValidation()" type="text" class="form-control" id="inputTitle" placeholder="Enter Title">
                  <small class="text-danger">[[titleError]]</small>
                </div>
                <div class="form-group">
                  <label for="inputDescription">Description:</label>
                  <textarea v-model="inputDescription" v-on:input="inputValidation()" class="form-control" id="inputDescription" rows="3"></textarea>
                  <small class="text-danger">[[descriptionError]]</small>
                </div>
                <div class="form-group">
                  <label for="inputDeadline">Deadline:</label>
                  <input v-model="inputDeadline" v-on:input="inputValidation()" type="date" class="form-control" id="inputDeadline">
                  <small class="text-danger">[[deadlineError]]</small>
                </div>
              </form>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="btn btn-outline-danger mx-2" @click="$emit('close')">
                Cancel
              </button>
              <button class="btn btn-danger ml-2" v-bind:disabled="submitDisabled" @click="saveWorkOrder(); $emit('close')">
                Save
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
  `
})

Vue.component('search-bar', {
  props: {

  },
  data() {
    return {
      searchText: ''
    }
  },
  mounted() {
    this.search = this.searchText;
  },
  methods: {
    emitSearchValue(searchText) {
      this.$emit('emitted-search-text',  searchText);
    }
  },
  template: `
    <div class="input-group">
      <input type="text" v-model:value="searchText" class="form-control" placeholder="Search Worker" aria-label="Search Worker">
      <div class="input-group-append">
        <button class="btn btn-outline-danger" v-on:click="emitSearchValue(searchText)">Search</button>
      </div>
    </div>
  `
})

Vue.component('workorder-list', {
  delimiters: ['[[', ']]'],
  props: {
    workOrders: Array,
  },
  data() {
    return {
      showWorkerModal: false,
      selectedWorkOrder: {},
    }
  },
  methods: {
  },
  template: `
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Deadline</th>
          <th scope="col">Workers</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="workOrder in workOrders">
          <th scope="row">[[ workOrder.title ]]</th>
          <td>[[ workOrder.description ]]</td>
          <td>[[ workOrder.deadline ]]</td>
          <td>
            <span v-for="worker in workOrder.workers">
              <button tooltip.hover title="Double-click to remove" class="btn btn-outline-primary btn-sm mx-1">
                [[ worker.name ]]
              </button>
            </span>
            <button @click="showWorkerModal=true; selectedWorkOrder=workOrder;" tooltip.hover title="Add Workers" class="btn btn-outline-success btn-sm mx-1">
              +
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <worker-modal v-if="showWorkerModal" v-bind:selected-work-order="selectedWorkOrder" @close="showWorkerModal=false"></worker-modal>
  </div>
  `
})

Vue.component('worker-modal', {
  delimiters: ['[[', ']]'],
  props: {
    selectedWorkOrder: Object,
  },
  data() {
    return {
      value: [],
      options: [],
      valueError: '',
      submitDisabled: false,
    }
  },
  watch: {
    value() {
      if (this.value.length > 5) {
        this.valueError = 'Max of 5 workers are allowed.';
        this.submitDisabled = true;
      } else if (this.value.length == 0) {
        this.valueError = "Workers can't be zero.";
        this.submitDisabled = true;
      } else {
        this.valueError = '';
        this.submitDisabled = false;
      }
    }
  },
  mounted() {
    this.value = this.selectedWorkOrder.workers;
    options = axios({
      method: 'get',
      url: `${apiRootUrl}workers/`,
      header: {
        'Authorization': UserToken
      }
    }).then(res => {
      this.options = res.data;
    });
  },
  methods: {
    saveWorkers() {
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = 'X-CSRFToken';
      axios({
        method: 'patch',
        url: this.selectedWorkOrder.url,
        header: {
        'Authorization': UserToken,
        },
        data: {
          workers: this.value.map(val => val.url)
        }
      }).then(() => {
        // reload workOrder list
        this.$parent.$parent.loadWorkOrders();
      }).catch((error) => {
        console.log(error);
      });
    }
  },
  template: `
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              <h3>Add Workers</h3>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <mutiselect-dropdown
                v-model="value"
                :options="options"
                :multiple="true"
                :close-on-select="false"
                :clear-on-select="false"
                :preserve-search="true"
                placeholder="Select workers"
                label="name" track-by="name"
                :preselect-first="true">
                <template slot="selection" slot-scope="{ values, search, isOpen }">
                  <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span>
                </template>
              </mutiselect-dropdown>
              <small class="text-danger">[[valueError]]</small>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="btn btn-outline-danger" @click="$emit('close')">
                Cancel
              </button>
              <button class="btn btn-danger" v-bind:disabled="submitDisabled" @click="saveWorkers(); $emit('close')">
                Save
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
  `
})

Vue.component('mutiselect-dropdown', VueMultiselect.Multiselect)

var vm = new Vue({
  el: '#app',
  data:{
    workOrders: [],
    searchText: '',
    showWorkOrderModal: false,
  },
  mounted() {
    this.loadWorkOrders();
  },
  methods: {
    getSearchText(searchText) {
      this.searchText = searchText;
      this.loadWorkOrders(this.searchText);
    },
    workOrdersFetchWorkers(workOrdersRes, workersRes) {
      workOrdersRes.forEach(workOrder => {
        let newWorkers = [];
        // map changes to each worker of workOrder
        if (workOrder.workers.length > 0) {
          workOrder.workers.forEach(worker => {
            // fetch new worker value from all workers
            workersRes.forEach(w => {
              if (worker===w['url']) {
                newWorkers.push(w);
              }
            });
          });
        }
        workOrder.workers = newWorkers;
      });
      return workOrdersRes;
    },
    loadWorkOrders(searchParam) {
      axios({
        method: 'get',
        url: `${apiRootUrl}work-orders/`,
        params: {
          workers_name: searchParam
        },
        header: {
          'Authorization': UserToken
        }
      })
      .then(workOrdersPromise => {
        let workersPromise = axios({
          method: 'get',
          url: `${apiRootUrl}workers/`,
          header: {
            'Authorization': UserToken
          }
        })
        return Promise.all([workOrdersPromise, workersPromise])
      })
      .then(([workOrdersPromise, workersPromise]) => {
        let workOrdersRes = workOrdersPromise.data;
        let workersRes = workersPromise.data;

        this.workOrders = this.workOrdersFetchWorkers(workOrdersRes, workersRes);
      });
    },
  }
})
</script>
{% endblock js %}
